backports.functools-lru-cache==1.6.1
cffi==1.14.1
cycler==0.10.0
Cython==0.29.21
cython-bbox==0.1.3
Django==1.11.29
easydict==1.9
future==0.18.2
kiwisolver==1.1.0
matplotlib==2.2.5
numpy==1.16.6
opencv-python==4.2.0.32
Pillow==6.2.2
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
scipy==1.2.3
six==1.15.0
subprocess32==3.5.4
tabulate==0.8.7
./torch-0.2.0.post3-cp27-none-macosx_10_7_x86_64.whl
torchvision==0.1.9